* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.viewbtn {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
.dropdown {
  border: 1px solid black;
  width: 100px;
  border-radius: 2px;
  text-align: center;
  list-style: none;
  display: none;
}
.dropdown > li {
  padding: 5px;
}
.viewbtn:hover + .dropdown {
  display: block;
}
